*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    
}
header{
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgb(3, 3, 3);
    z-index: 100;
}
.container__menu{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.container__menu{
    width: 100%;
    height: 80px;
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul >li >a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: all 300ms ease;
}
nav > ul >li >a:hover{
    transform: scale(1.1);
    background-color: #FDC128;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
}
nav > ul >li:first-child > a{
    background-image: url(Images/Logo\ Inmo.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
/*Submenu*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
    z-index: 10;
    transition: all 400ms ease;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 80px;
}
nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute ;
    top: -12px;
    left: 20px;
}
nav ul li ul a{
    display: block;
    color:#000000 ;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 500ms ease;
}
nav ul li ul a:hover{
    background: #FDC128;
    transform: scale(1.1);
    padding-left: 20px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
}
/*Responive Nav*/
.icon__menu{
    font-size: 26px;
    color:#fff;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#check__menu{
    display: none;
}
#label__check{
    width: 26px;
    height: 100%;
    display: none;
}

.Apto1{
    position: flex;
    padding: 140px;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 631px){
    nav > ul{
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        height: 0px;
        transition: all 400ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        padding: 12px;
    }
    nav > ul > li > a:hover{
        transform: scale(1.1);
    }
    nav ul li ul{
        left: 140px;
    }
    nav > ul > li:hover ul{
        top:50px;
    }
    nav > ul > li:first-child a{
        background-position: 20px;
        background-size: 50px;
    }
    #label__check{
        display: block;
    }
    .icon__menu{
        display: flex;
    }  
    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }  
}
/*Filtros*/
.filtros{
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 40px;
}
.fil{
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
    border-radius: 5px;
    width: 200px;
    height: 45px;
}
.btn{
    height: 40px;
    width: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
    border-radius: 5px;
    font-size: 20px;
    background-color: #FDC128;
    color: #070707;
    margin-left: 2px;
    align-items: center;
}
.btn:hover{
    transform: scale(1.1);
}
/*APTOS*/
.Apto1{
    position: flex;
    padding: 140px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    width: 1000px;
    height: 430px;
}
section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: all 300ms ease;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5) ;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.cuadro{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cuadro img{
    width:40px;
    margin-left: 60px;
    
}
.cuadro p{
    text-align: center;
    padding: 10px;
}
.cuadro h2{
    padding: 10px;
}
.cuadro h2:hover{
    color: #FDC128 ;
    transition: all 300ms ease;
}
.btn12{
    padding: 20px 20px;
    background-color:  #FDC128;
    color: #050505;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
    margin-left: 550px;
    bottom: 90px;
}
.btn12:hover{
    background-color: white;
    color: #000000;
    transition: 300ms linear; 
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
.btn13{
    padding: 20px 20px;
    background-color:  #FDC128;
    color: #050505;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 550px;
    bottom: 90px;
}
.Apto2{
    position: relative;
    padding: 100px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}
/*Contactanos*/

.container{
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
	left: 300px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	text-align: center;
}
.dejanostu{
    text-align: center;
    padding-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #FDC128;
}

.btnC{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.btnC:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btnC2{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #000000;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	
}

.btnC2:hover{
    transform: scale(1.1);
    background-color: #FDC128;
    transition: all 300ms ease;
    cursor: pointer;
}
@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/*FOOTER*/

footer{
    width: 100%;
    padding: 1px 100px;
    background-image: url(Images/);
    background-size: cover;
    
    background-color: #FDC128;
    -webkit-mask-image: url("Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 300px;
    margin-top: 1px;
    font-weight: 400;
    color: #030303;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #080808;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 18px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}