*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    
}
header{
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgb(3, 3, 3);
    z-index: 100;
}
.container__menu{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.container__menu{
    width: 100%;
    height: 80px;
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul >li >a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: all 300ms ease;
}
nav > ul >li >a:hover{
    transform: scale(1.1);
    background-color: #FDC128;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
}
nav > ul >li:first-child > a{
    background-image: url(Images/Logo\ Inmo.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
/*Submenu*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
    z-index: 10;
    transition: all 400ms ease;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 80px;
}
nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute ;
    top: -12px;
    left: 20px;
}
nav ul li ul a{
    display: block;
    color:#000000 ;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 500ms ease;
}
nav ul li ul a:hover{
    background: #FDC128;
    transform: scale(1.1);
    padding-left: 20px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) ;
}
/*Responive Nav*/
.icon__menu{
    font-size: 26px;
    color:#fff;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#check__menu{
    display: none;
}
#label__check{
    width: 26px;
    height: 100%;
    display: none;
}

@media screen and (max-width: 631px){
    nav > ul{
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        height: 0px;
        transition: all 400ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        padding: 12px;
    }
    nav > ul > li > a:hover{
        transform: scale(1.1);
    }
    nav ul li ul{
        left: 140px;
    }
    nav > ul > li:hover ul{
        top:50px;
    }
    nav > ul > li:first-child a{
        background-position: 20px;
        background-size: 50px;
    }
    #label__check{
        display: block;
    }
    .icon__menu{
        display: flex;
    }  
    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }  
}
/*CONTACTO main*/
.Imagenprincicontac:hover{
    transform: scale(1.1);
  }
  body {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .Tituloinicial {
    color: #FDC128;
    font-size: 28px;
    text-align: center;
    padding: 10px;
    text-align: left;
    color: black;
    background: linear-gradient(90deg, rgb(253, 193, 40),rgb(22, 21, 22));
  }
  .Tituloinicial:hover{
    color: #fff;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
  }
  
  .contact-info {
    margin: 20px;
    padding: 20px;
    border: 1px solid #FDC128;
    background: linear-gradient(90deg, rgb(253, 193, 40),rgb(22, 21, 22));
    
  }
  
  .contact-info h2 {
    font-size: 24px;
    margin-top: 0;
    color: #FDC128;
  }
  
  .contact-info p {
    margin-bottom: 20px;
  }
  
  .contact-image {
    flex-basis: 400px;
    margin: 20px;
  }
  
  .contact-image img {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 5px solid #FDC128;
  }
  .linksventas:hover{
    color: #000000;
    background-color:#FDC128 ;
    font-size: 26px;
}

  /*FORMULARIO*/
  .textoTituloDos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #FDC128;
    text-align: center;
    background-color: #ffffff;
  }
  
  .letra {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    color: #000000;
  }
  
  .containerform {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formulario {
    position: relative;
    height: 500px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .campos {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  
  .ingreso {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    transition: .3s;
  }
  
  .ingreso:hover {
    background-color: rgba(22, 24, 7, 0.212);
  }
  
  .ingreso:active {
    background-color: rgba(22, 24, 7, 0.212);
    border-color: #FDC128;
    transition: background-color 0.3s ease-in-out;
  }
  
  .botonenvio {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
  }
  
  .botonenvio:hover {
    transform: scale(1.1);
    background-color: #FDC128;
    transition: all 300ms ease;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .formulario {
      width: 80%;
    }
  }


/*FOOTER*/

footer{
    width: 100%;
    padding: 1px 0px;
    background-image: url(Images/);
    background-size: cover;
    
    background-color: #FDC128;
    -webkit-mask-image: url("Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #030303;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #080808;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}